<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 11.04.2023, 03:25</time>
            <h2><a href="">My first post</a></h2>
            <p>Django Girls is in ZANZIBAR.</p>
        </article>

        <article>
            <time>published: 11.04.2023, 3:27</time>
            <h2><a href="">My second post</a></h2>
            <p>Last day with Django girls.</p>
        </article>
    </body>
</html>